<!DOCTYPE html>
<html>
<head>
  <title>BloggingApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Blogging App</h1>
      </div>
      <div class="col-sm-6" id="user-nav">
        <% if user_signed_in? %>
          <p class="pull-right">Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
        <% else %>
          <p class="pull-right"><%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %></p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <div class="page-footer">
      <hr>
      <p class="pull-right">
        <% if user_signed_in? %>
          <%= link_to "New Article", new_article_path %>
        <% end %>
      </p>
    </div>
  </div>


</body>
</html>
